# Node modules
node_modules/

# Cypress folders
cypress/screenshots/
cypress/videos/

# Cypress config cache
.cypress/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: environment and IDE files
.env
.DS_Store
.vscode/
.history/

